/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.con {
    margin: 0 auto;
}

.img-box > img {
    width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

/* 커스텀 */
html,
body {
    overflow-x: hidden;
}

.con {
    max-width: 1000px;
}

.logo-bar {
    margin-top: 20px;
}

.logo-bar > img {
    display: block;
    margin: 0 auto;
}

.top-bn-box {
    margin-top: 20px;
    overflow-x: hidden;
}

@media (max-width:600px) {
    .top-bn-box > .img-box {
        margin-left: -50%;
    }
}

.list-box-1 > ul {
    margin: 0 -10px;
}

.list-box-1 > ul > li {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

@media (min-width:931px) {
    .list-box-1 > ul > li {
        width: calc(100% / 6);
    }

    .list-box-1 > ul > li:nth-child(6n + 1) {
        clear: both;
    }
}

@media (max-width:930px) and (min-width:801px) {
    .list-box-1 > ul > li {
        width: 20%;
    }

    .list-box-1 > ul > li:nth-child(5n + 1) {
        clear: both;
    }
}

@media (max-width:800px) and (min-width:651px) {
    .list-box-1 > ul > li {
        width: 25%;
    }

    .list-box-1 > ul > li:nth-child(4n + 1) {
        clear: both;
    }
}

@media (max-width:650px) and (min-width:551px) {
    .list-box-1 > ul > li {
        width: 33.3333%;
    }

    .list-box-1 > ul > li:nth-child(3n + 1) {
        clear: both;
    }
}

@media (max-width:550px) and (min-width:401px) {
    .list-box-1 > ul > li {
        width: 50%;
    }

    .list-box-1 > ul > li:nth-child(2n + 1) {
        clear: both;
    }
}

@media (max-width:400px) {
    .list-box-1 > ul > li {
        width: 100%;
    }
}

.list-box-1 > ul > li > .prod-name,
.list-box-1 > ul > li > .prod-price {
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 10px;
}

.list-box-1 > ul > li > .prod-price {
    margin-top: 5px;
    font-size: 1.4rem;
}

.list-box-1 > ul > li > .prod-price::after {
    content: "원";
    font-size: 0.9rem;
}

.list-box-1 > ul > li:hover > .prod-name {
    text-decoration: underline;
}

.list-box-1 > ul > li:hover > .prod-price {
    color: #454545;
}

.list-box-1 > ul > li > .img-box {
    overflow: hidden;
    position: relative;
    user-select: none;
    /* 이걸 해야 이미지를 더블클릭 했을때 드래그 선택이 안된다. */
}

.list-box-1 > ul > li > .img-box > img {
    transition: transform .3s;
    position: relative;
    z-index: -1;
}

.list-box-1 > ul > li:hover > .img-box > img {
    transform: scale(1.25);
}

.list-box-1 > ul > li > .delivery-free {
    text-align: center;
    margin-top: 10px;
}

.list-box-1 > ul > li > .delivery-free > span::after {
    content: "무료배송";
    color: #439de6;
    font-size: 0.8rem;
}

.list-box-1 > ul > li > .delivery-free > span {
    display: inline-block;
    border: 2px solid #a6cae7;
    padding: 0 5px;
}

/* .list-box-1 > ul > li > .img-box > img { position:relative; z-index:-1; } 을 한 이유는 아래 엘리먼트가 뭍히게 하지 않게 위해서이다. */
.list-box-1 > ul > li > .img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.3s;
}

.list-box-1 > ul > li:hover > .img-box::before {
    background-color: rgba(0, 0, 0, 0.5);
}

/* 뷰 아이콘 */

.list-box-1 > ul > li > .img-box > .ico-view {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    /* 여기에 글자색을 넣었을 때, 아이콘 색 까지 바뀌는 부분에서 놀라시면 됩니다. */
    font-size: 0.8rem;
    /* 여기에 글자크기를 조절했을 때, 아이콘의 크기까지 바뀌는 부분에서 놀라시면 됩니다. */
    border: 2px solid white;
    padding: 3px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.list-box-1 > ul > li > .img-box > .ico-view::after {
    content: " view";
    text-transform: uppercase;
}

.list-box-1 > ul > li:hover > .img-box > .ico-view {
    opacity: 1;
}

body.active {
    background-image: linear-gradient(to bottom, red, yellow);
}
